
# Node.js
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.venv/
env/
venv/

# Environment & config
.env
*.log

# IDE / editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
